:host {
    display: block;
    width: 90%;
    margin: 0 auto;

    span {
        max-width: 33%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0 5px;
    }

    &:hover {
        background: #f5f5f5;
        color: #555;
    }

    .view-task {
        &--container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 40px;
            background: #fff;
            color: gray;

            &.error {
                color: #ff5959;
                font-size: 12px;
            }
        }

        &--delete {
            padding: 5px 10px;
            border: 1px solid #000;
            border-radius: 5px;
            font-size: 12px;
            cursor: pointer;
        }
    }
}